* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, 'sans-serif';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 16px;

  .container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 96px;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 540px;
  }
}