.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .tag {
    width: max-content;
    background: #F3EBFF;
    color: #663EC6;
    border-radius: 16px;
    padding: 4px 12px;
  }

  &_title {
    color: #42307D;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }

  &_description {
    color: #663EC6;
    font-size: 20px;
  }
}