.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;

  .item {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 384px;
    padding: 24px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.21);
    cursor: pointer;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .category {
        color: #42307D;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.blog_modal {
  &:global(.MuiModal-root) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}