* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, 'sans-serif';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 16px;

  .container {
    width: 100%;
    max-width: 1280px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: center;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 540px;
  }

  .admin_title {
    font-size: 48px;
    text-align: center;
    color: #663EC6;
  }

  .input {
    width: 100%;
    background: #c0a9c4;
    border: none;
    padding: 12px;
    border-radius: 12px;
    color: #ffffff;
    outline: none;

    &::placeholder {
      color: #ffffff;
    }
  }

  .button {
    background: #85578d;
    border-radius: 12px;
    padding: 12px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .categories_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 260px;
  }
}