* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, 'sans-serif';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 16px;

  .container {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 96px;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 540px;
  }

  .form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
    padding: 24px;
    gap: 24px;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .input {
        width: 100%;
        border: 1px solid #c0a9c4;
        padding: 12px;
        border-radius: 12px;
        color: #b970c9;
        outline: none;

        &::placeholder {
          color: #b970c9;
        }
      }
    }

    .submitButton {

    }
  }
}