.item {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 384px;
  padding: 24px;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.21);
  border-radius: 12px;

  .closeIcon {
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: -12px;
  }

  .image {
    border-radius: 12px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .category {
      color: #42307D;
      font-size: 14px;
      font-weight: 600;
    }
  }
}